h1 {
    font-size: x-large;
    position: relative;
    left: 700px;
    top: 100px;
}

#firstDiv{
    height: 20vh;
    display: flex;
    align-content: center;
}

.gitHubPic {
    border-radius: 100px;
    position: relative;
    bottom: 30px;
}
#secondDiv{
    margin: 0px;
    border: 1px solid lightgray;
    font-size: x-large;
}

#thirdDiv{
    margin: 0px;
    border: 1px solid lightgray;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}

#repoContainer {
    border: 1px solid lightgray;
    margin: 0px;
    background-color: lightgray;
}

a:visited{
    color:blue;
}

.gitUrl {
    font-size: large;
}